.mainCardContainer {
  position: absolute;
  top: 25%;
  left: 15%;
}
.cardContainer {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: space-around;
  grid-row-gap: 10%;
}

.ind-card {
  display: flex;
  justify-content: space-around;
  height: 100px;
  width: 100px;
  flex-direction: column;
  box-shadow: 0 2px 8px -6px black;
}

.card-title {
  margin-top: 15px;
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
}

.card-content {
  font-style: normal;
  font-weight: bolder;
  font-size: 24px;
}
